# Archivos de build
*.apk
*.aab
*.idsig
*.keystore
*.jks
build/
app/build/
.gradle/
*.iml
*.class

# Archivos generados
twa-manifest.json
manifest-checksum.txt
app-release-*
app-debug-*

# Android Studio
.idea/
*.iws
*.ipr
local.properties

# Gradle wrapper (opcional, algunos lo incluyen)
# gradle/
